.annonce {
    #{$prefix}annonce-padding: $annonce-padding;
    #{$prefix}annonce-gap: $annonce-gap;
    #{$prefix}annonce-font-size: $annonce-font-size;
    #{$prefix}annonce-line-height: $annonce-line-height;
    #{$prefix}annonce-font-weight: $annonce-font-weight;
    #{$prefix}annonce-border-color: $annonce-border-color;
    #{$prefix}annonce-border: $annonce-border;
    #{$prefix}annonce-border-radius: $annonce-border-radius;
    #{$prefix}annonce-color: $annonce-color;
    #{$prefix}annonce-bg: $annonce-bg;
    #{$prefix}annonce-shadow: $annonce-shadow;

    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: var(#{$prefix}annonce-padding);
    gap: var(#{$prefix}annonce-gap);
    //   @include border-radius(var(#{$prefix}annonce-border-radius));
    color: var(#{$prefix}annonce-color);
    background-color: transparent;

    &#{&}-mixed {
        #{$prefix}annonce-border: #{$annonce-border};
        border: var(#{$prefix}annonce-border);
        background-color: var(#{$prefix}annonce-bg);
        box-shadow: var(#{$prefix}annonce-shadow);
    }

    &#{&}-outlined {
        #{$prefix}annonce-border: #{$annonce-border}; // Default border for the annonce component
        border: var(#{$prefix}annonce-border);
    }

    &#{&}-soft {
        background-color: var(#{$prefix}annonce-bg);
    }

    &#{&}-xs {
        #{$prefix}annonce-padding: $annonce-padding-xs; // Default padding for the annonce component
    }

    &#{&}-sm {
        #{$prefix}annonce-padding: $annonce-padding-sm; // Default padding for the annonce component
    }

    &#{&}-md {
        #{$prefix}annonce-padding: $annonce-padding-md; // Default padding for the annonce component
    }

    &#{&}-lg {
        #{$prefix}annonce-padding: $annonce-padding-lg; // Default padding for the annonce component
    }

    &-badge {
        @extend .badge;
        #{$prefix}badge-padding-x: #{$annonce-badge-padding-x};
        #{$prefix}badge-padding-y: #{$annonce-badge-padding-y};
        #{$prefix}badge-color: #{#{$annonce-badge-color}};
        #{$prefix}badge-bg: #{#{$annonce-badge-bg}};
        #{$prefix}badge-border-radius: #{#{$annonce-badge-border-radius}};
    }

    #{&}-xs &-badge {
        #{$prefix}badge-border-radius: calc(var(#{$prefix}radius) - 3px);
    }

    &#{&}-sm &-badge {
        #{$prefix}badge-border-radius: calc(var(#{$prefix}radius) - 3px);
    }

    &#{&}-md &-badge {
        #{$prefix}badge-border-radius: calc(var(#{$prefix}radius) - 5px);
    }

    &#{&}-lg &-badge {
        #{$prefix}badge-border-radius: calc(var(#{$prefix}radius) - 5px);
    }

    &-badge-xs {
        #{$prefix}badge-font-size: #{$annonce-badge-xs-font-size};
        #{$prefix}badge-line-height: #{$annonce-badge-xs-line-height};
    }

    &-badge-sm {
        #{$prefix}badge-font-size: #{$annonce-badge-sm-font-size};
        #{$prefix}badge-line-height: #{$annonce-badge-sm-line-height};
    }

    &-badge-md {
        #{$prefix}badge-padding-x: #{$annonce-badge-md-padding-x};
        #{$prefix}badge-padding-y: #{$annonce-badge-md-padding-y};
        #{$prefix}badge-font-size: #{$annonce-badge-md-font-size};
        #{$prefix}badge-line-height: #{$annonce-badge-md-line-height};
    }

    &-badge-lg {
        #{$prefix}badge-padding-x: #{$annonce-badge-lg-padding-x};
        #{$prefix}badge-padding-y: #{$annonce-badge-lg-padding-y};
        #{$prefix}badge-font-size: #{$annonce-badge-lg-font-size};
        #{$prefix}badge-line-height: #{$annonce-badge-lg-line-height};
    }
}
